@use 'colors/color-matrix' as color;
@use 'colors/color-palette' as *;

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  &.button {
    &--white {
      .button {
        fill: color.$icon-button-bg--secondary;

        &:hover,
        &:focus-visible {
          fill: color.$icon-button-bg--secondary-hover;
        }

        &:active {
          fill: color.$icon-button-bg--secondary-active;
        }
      }
    }
  }
}

.button {
  fill: color.$icon-button-bg--primary;
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s;
  }

  &:hover,
  &:focus-visible {
    fill: color.$icon-button-bg--primary-hover;
  }

  &:focus-visible {
    outline: 1px solid color.$icon-button-outline;
    border-radius: 2px;
  }

  &:active {
    fill: color.$icon-button-bg--primary-active;
  }

  &:disabled {
    fill: color.$icon-button-bg--disabled;
    cursor: not-allowed;
  }

  &--red {
    fill: $red-500;

    &:hover,
    &:focus-visible {
      fill: $red-300;
    }

    &:active {
      fill: $red-600;
    }
  }
}
