@use 'abstracts/variables' as *;
@use 'colors/color-matrix' as *;
@use 'abstracts/mixins' as *;

.modal {
  @include modal-base-layout(792px, 36px);
  @include flex-centered-column;

  & {
    gap: 32px;
  }

  &__header {
    position: relative;
    padding: 36px 36px 0 36px;
    display: flex;
    gap: 12px;
    align-items: flex-start;
    border-radius: 16px 16px 0px 0px;
    width: 100%;
  }

  &__picture {
    &--large {
      width: 74px;
      height: 74px;
    }
    &--small {
      width: 38px;
      height: 38px;
    }
    &--warning {
      $warning-map: map-get($btn-color-matrix, warning);
      $warning-default: map-get($warning-map, default);
      $warning-default-bg: map-get($warning-map, bg);
      fill: $icon-color-warning;
    }
  }

  &__title {
    color: $common-modal-title-color;
    margin-bottom: 12px;
  }

  &__subtitle {
    color: $common-modal-subtitle-color;
  }

  &__budget {
    margin-top: 8px;
    color: $common-modal-budget-color;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
}
