@use 'colors/color-palette' as *;

$base-font-color: $g-800;
$base-heading-color: $g-950;

$base-shadow-color: $black;

$icon-button-bg--primary: $green-500;
$icon-button-bg--primary-hover: $green-400;
$icon-button-bg--primary-active: $green-700;

$icon-button-bg--secondary: $g-100;
$icon-button-bg--secondary-hover: $g-50;
$icon-button-bg--secondary-active: $g-100;

$icon-button-bg--disabled: $g-600;

$icon-button-outline: $orange-500;

$btn-color-matrix: (
  primary: (
    default: (
      bg: $green-700,
      text: $g-50,
      border: $green-700,
    ),
    hover: (
      bg: $green-500,
      text: $g-50,
      border: $green-500,
    ),
    active: (
      bg: $green-900,
      text: $g-50,
      border: $green-900,
    ),
    focus: (
      border: $orange-500,
    ),
    disabled: (
      bg: $g-200,
      text: $g-600,
      border: $g-200,
    ),
  ),
  secondary: (
    default: (
      bg: $g-50,
      text: $green-700,
      border: $green-700,
    ),
    hover: (
      bg: $g-50,
      text: $green-500,
      border: $green-500,
    ),
    active: (
      bg: $g-50,
      text: $green-900,
      border: $green-900,
    ),
    focus: (
      border: $orange-500,
    ),
    disabled: (
      bg: $g-50,
      text: $g-600,
      border: $g-500,
    ),
  ),
  warning: (
    default: (
      bg: $red-500,
      text: $g-50,
      border: $red-500,
    ),
    hover: (
      bg: $red-warning,
      text: $g-50,
      border: $red-warning,
    ),
    active: (
      bg: $red-600,
      text: $g-50,
      border: $red-600,
    ),
    focus: (
      border: $orange-500,
    ),
    disabled: (
      bg: $g-200,
      text: $g-600,
      border: $g-200,
    ),
  ),
  tertiary: (
    default: (
      bg: $g-50,
      text: $green-500,
      border: $green-500,
      border-style: dashed,
    ),
    hover: (
      bg: $g-50,
      text: $green-400,
      border: $green-400,
    ),
    active: (
      bg: $g-50,
      text: $green-700,
      border: $green-700,
    ),
    focus: (
      border: $orange-500,
      border-style: solid,
    ),
    disabled: (
      bg: $g-50,
      text: $g-600,
      border: $green-500,
    ),
  ),
  text: (
    default: (
      bg: $g-50,
      text: $green-700,
      border: $g-50,
    ),
    hover: (
      bg: $g-50,
      text: $green-500,
      border: $g-50,
    ),
    active: (
      bg: $g-50,
      text: $green-900,
      border: $g-50,
    ),
    focus: (
      border: $orange-500,
    ),
    disabled: (
      bg: $g-50,
      text: $g-600,
      border: $g-50,
    ),
  ),
  small: (
    default: (
      text: $green-500,
      border: $green-500,
    ),
    hover: (
      text: $green-400,
      border: $green-400,
    ),
    active: (
      text: $green-700,
      border: $green-700,
    ),
    focus: (
      text: $green-400,
    ),
  ),
) !default;

$header-bg: $g-50;
$header-border-color: $green-200;
$header-shadow-color: $black;

$page-bg: $bg-blue;

$home-title-color: $g-950;
$home-description-color: $g-800;

$stepper-circle-bg: $g-200;
$stepper-circle-bg--active: $green-500;
$stepper-circle-bg--filled: $green-200;

$stepper-circle-text-color: $g-500;
$stepper-circle-text-color--active: $g-100;

$stepper-icon-color: $green-500;

$stepper-text-color: $g-500;
$stepper-text-color--active: $g-800;
$stepper-text-color--filled: $black;

$stepper-separator-bg: $g-300;
$stepper-separator-bg--active: $green-500;
$stepper-separator-bg--filled: $green-500;
$footer-bg: $green-900;
$footer-font-color: $g-100;
$footer-font-color--hover: $g-50;
$footer-font-color--focus: $g-50;

$radio-button-color: $g-300;
$radio-button-color--hover: $g-500;
$radio-button-color--checked: $green-700;
$radio-button-color--checked-hover: $green-500;
$radio-button-color--active: $green-900;
$radio-button-color--disabled: $g-600;

$focus-color: $orange-500;

$label-star-color: $red-warning;

$group-item-bg--active: $green-100;
$group-item-border-color: $g-200;
$group-item-border-color--active: $green-400;

$message-color--caption: $g-500;
$message-color--error: $red-warning;

$message-bg: $g-50;

$input-color-text: $g-950;
$input-color-caption: $g-500;
$input-color-placeholder: $g-400;
$input-bg-color: $g-100;

$input-color-border: $g-300;
$input-color-border-type: $g-500;
$input-color-border-hover: $g-400;
$input-color-border-focus: $orange-500;
$input-color-border-filled: $g-500;

$input-color-error: $red-warning;

$input-color-disabled-bg: $g-200;
$input-color-disabled-border: $g-300;
$input-color-disabled-text: $g-600;

$form-layout-bg: $g-50;
$form-layout-border-color: $green-200;

$message-bg: $g-50;

$loader-red: $red-500;
$loader-green: $green-700;
$loader-bg-color: $g-50;
$overlay-bg: rgba($loader-bg-color, 0.4);

$input-sidebar-bg: $green-50;
$input-sidebar-border-color: $g-300;

$copy-link-color-dark: $red-warning;
$copy-link-color-light: $green-100;
$copy-link-border-color-dark: $g-500;
$copy-link-border-color-light: $g-50;
$copy-link-bg-dark: $g-100;
$copy-link-bg-light: rgba($copy-link-bg-dark, 0.6);

$invitation-note-bg: $green-100;
$invitation-note-border: $green-400;
$invitation-note-border-editing: $orange-500;
$invitation-note-link-color: $blue;
$invitation-note-warning: $red-warning;

$rdc-variants: (
  light: (
    border: $transparent,
    background: $g-50,
  ),
  color: (
    border: $green-400,
    background: $green-100,
  ),
);

$rdc-content-text: $g-700;

$room-info-bg: $green-700;
$room-info-text: $g-100;
$room-info-border-color: $green-200;

$room-info-card-text: $g-900;

$li-bg-color: $g-100;
$li-bg-hover: $g-50;
$li-border-color: $g-200;
$li-border-focus: $orange-500;

$action-card-title: $red-500;
$action-card-title--wish-list: $g-100;
$action-card-bg: $g-50;
$action-card-header-bg-color: $green-700;

$not-found-info-color: $g-950;

$modal-header-title: $red-500;
$modal-border-color: $g-500;
$modal-overlay: rgba(#0a2842, 0.25);
$modal-content-bg: $g-50;

$common-modal-title-color: $g-950;
$common-modal-subtitle-color: $g-800;
$common-modal-budget-color: $g-800;

$action-card-content-bg: $g-50;

$pl-counter-color: $g-500;
$pl-counter-max-value-color: $green-700;
$pl-border-color: $green-200;
$pl-background-color: $g-50;
$pl-li-divider-color: $g-200;

$link-text--primary: $green-500;
$link-text--primary-hover: $green-400;
$link-text--primary-active: $green-700;

$link-text--secondary: $g-100;
$link-text--secondary-hover: $g-50;
$link-text--secondary-active: $g-100;

$link-text--disabled: $g-600;

$link-border-color--primary: $green-500;
$link-border-color--primary-hover: $green-400;
$link-border-color--primary-active: $green-700;

$link-border-color--secondary: $g-100;
$link-border-color--secondary-hover: $g-50;
$link-border-color--secondary-active: $g-100;

$link-border-color--disabled: $g-600;

$link-outline: $orange-500;

$scroll-color: $green-400;
$scroll-hover: $green-500;
$scroll-pressed: $green-500;
$scroll-track: $g-50;

$personal-info-term: $g-700;
$personal-info-value: $g-900;
$personal-info-list-border: $green-400;
$personal-info-list-bg: $green-100;

$surprise-info-title: $g-800;
$surprise-info-text-border-top-color: $green-400;

$participant-info-title: $g-50;
$participant-info-subtitle: $g-100;
$participant-info-link-title: $g-100;
$participant-info-bg: $red-500;

$icon-color-primary: $green-700;
$icon-color-secondary: $g-50;
$icon-color-warning: $red-500;
